<script lang="ts">
import Footer from '../components/Footer.vue'

export default {
  components: {
    Footer
  }
}
</script>

<template>
  <div class="slidev-layout container">
    <div class="theme-rwth content">
      <slot/>
    </div>
    <Footer />
  </div>
</template>
