<script lang="ts">
  import { TITLE, AUTHOR, DATE} from "../src/env";

  export default {
    data() {
      return {
        title: TITLE,
        author: AUTHOR,
        date: DATE,
      }
    }
  }
</script>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--slidev-theme-primary);
    color: var(--slidev-theme-background);
    padding: 0.3em 1em;
  }
</style>

<template>
  <footer>
    <div>{{ title }}</div>
    <strong class="slide-number"><SlideCurrentNo /></strong>
  </footer>
</template>
