<script setup lang="ts">
import { User } from '../src/env';

  defineProps<{
    user?: User
    isSupervisor?: boolean,
  }>();
</script>

<style>
  .theme-rwth.user {
    display: flex;
    flex-flow: column;
  }
  .theme-rwth.user.supervisor {
    text-align: end;
  }

  .theme-rwth.user .name {
    color: var(--slidev-theme-primary);
  }
</style>

<template>
  <div v-if="user" class="theme-rwth user" :class="{ supervisor: isSupervisor }">
    <strong v-if="isSupervisor">supervised by</strong>
    <strong class="name">{{ user.name }}</strong>
    <a v-if="user.email" :href="`mailto:${user.email}`">{{ user.email }}</a>
    <span v-if="user.description">{{ user.description }}</span>
  </div>
</template>
