<script lang="ts">
  import { AUTHOR, AUTHOR2, AUTHOR3, DATE, SUBTITLE, SUPERVISOR, TITLE } from '../src/env';
  import User from '../components/User.vue';

  export default {
    data() {
      return {
        title: TITLE,
        subtitle: SUBTITLE,
        date: DATE,
        author: AUTHOR,
        author2: AUTHOR2,
        author3: AUTHOR3,
        supervisor: SUPERVISOR,
      }
    }
  }
</script>

<style>
  .theme-rwth.title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 0.75;
    background-color: var(--slidev-theme-primary);
    color: var(--slidev-theme-background);
    padding: 1em;
  }

  .theme-rwth.title h1 {
    font-size: 2.5em;
    text-align: center;
  }

  .theme-rwth.data-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 1em 2em 2em 2em;
  }

  .theme-rwth.data.top {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .theme-rwth.subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .theme-rwth.date {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .theme-rwth.data.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.9em;
  }
</style>

<template>
  <div class="slidev-layout container">
    <div class="theme-rwth title">
      <h1>{{ title }}</h1>
    </div>
    <div class="theme-rwth data-container">
      <div class="theme-rwth data top">
        <div class="theme-rwth subtitle">
          <h2>{{ subtitle }}</h2>
        </div>
        <div class="theme-rwth date">
          {{ date }}
        </div>
      </div>

      <div class="theme-rwth data bottom">
        <User :user="author" />
        <User :user="author2" />
        <User :user="author3" />
        <User :user="supervisor" isSupervisor="true" />
      </div>
    </div>
  </div>
</template>
