<script lang="ts">
import BaseLayout from '../components/BaseLayout.vue';

export default {
  components: {
    BaseLayout
}
}
</script>

<template>
  <BaseLayout>
    <slot />
  </BaseLayout>
</template>
