html:not(.dark) {
  --slidev-theme-primary: #00549f;
  --slidev-theme-secondary: #7b00bd;
  --slidev-theme-background: white;
  --slidev-theme-muted: #737373;
  --slidev-theme-error: red;
}

html.dark {
  --slidev-theme-primary: #93bce1;
  --slidev-theme-secondary: #b993e1;
  --slidev-theme-background: #121212;
  --slidev-theme-muted: gray;
  --slidev-theme-error: #f1847e;
}

.dark #slide-content,
:not(.dark) #slide-content {
  background-color: var(--slidev-theme-background);
}

.slidev-layout {
  font-size: 1.3rem;
  line-height: normal;
}

.slidev-layout h1 {
  line-height: 1.1em;
}

.slidev-layout.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.theme-rwth.content {
  flex-grow: 1;
  padding: 2em;
  overflow: hidden;
}

.theme-rwth.content {
  h1 {
    color: var(--slidev-theme-primary);
  }

  strong {
    color: var(--slidev-theme-primary);
  }
}
